<form>
    <div class="form-group">
        <p class="h1">Oluwafunmilola Enterprise</p>
      <!-- <label for="formGroupExampleInput">Oluwafunmilola Enterprise</label> -->
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Another label</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Sign-in</button>
  </form>
